<div class="container" style="margin-top:60px;margin-left:10em">
    <div class="form-group">
        <input type="text" class="form-control col-md-7" [(ngModel)]="txtIndex">
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-primary" value="SimSubscribe" (click)="evtSimSubcribe()"> |
        <input type="button" class="btn btn-warning" value="SimUnSubscribe" (click)="evtSimUnsubcribe()">
    </div>
</div>

<br>
<div class="container">
    <div *ngFor="let plan of SimOffersSynchronousdata">
        <label style="background-color: yellow;font-size: medium;"><b>Offer Plan - {{plan}}</b></label>
    </div>
</div>