<div class="container" style="margin-top: 30px;">
    <form class="container">
        <div class="form-group">
            <h3>ViewChildren</h3>
        </div>
        <ng-containter *ngFor="let tpl of templates" 
        [ngTemplateOutlet]="tpl.template"
        [ngTemplateOutletContext]="{Details:tpl.data}">
        </ng-containter>
    </form>
   
    <ng-template let-ADetails="Details" #customerTeamplate>
        <div style=" background-color:lightgreen;padding-bottom: 10px;">
            <div style="border:solid yellow 1px">
                Name : {{ADetails.Name}}
            </div>
            <div class="form-group">
                <input type="text" name="Customer Name" placeholder="Customer Name" class="form-control col-md-6">
            </div>
        </div>
    </ng-template>

    <ng-template let-Details="Details" #customerTeamplate>
        <div style=" background-color:yellow;padding-bottom: 10px;">
            <div style="border:solid #ffff00 1px">
                Name : {{Details.Name}}
            </div>
            <div class="form-group">
                <input type="text" Name="Order Name" placeholder="Order Name" class="form-control col-md-6">
            </div>
        </div>
    </ng-template>

    <ng-template let-Details="Details" #customerTeamplate>
        <div style=" background-color:olive;padding-bottom: 10px;">
            <div style="border:solid yellow 1px">
                Name : {{Details.Name}}
            </div>
            <div class="form-group">
                <textarea rows="5" Name="PDEtails" placeholder="Product Details"
                    class="form-control col-md-6"></textarea>
            </div>
        </div>
    </ng-template>
</div>