<!-- <form>
    <div class="form-group">
        <input type="text" placeholder="Order Name" class="form-control col-md-6">
    </div>
    <div class="form-group">
        <input type="text" placeholder="Order Location" class="form-control col-md-6">
    </div>
    <div class="form-group">
        <input type="text" placeholder="Order Date" class="form-control col-md-6">
    </div>
</form> -->

<input type="button" (click)="evClick()" value="Click" class="btn btn-primary" >

<input type="button" (click)="evClick1()" value="Click" class="btn btn-primary" >

<input type="button" (click)="evClick2()" value="Click" class="btn btn-primary" >